body {
	margin: 0;
}

header {
    padding: 40px 165px;
    background-color: #111111;
    display: flex;
    justify-content: space-between;
}

.left {
    display: flex;
    align-items: center;
}

.white {
    color: #FFFFFF;
}

.blue {
    color: #0FA2DB;
}

.header_button {
    padding: 15px;
    background-color: #2F2F2F;
    color: #FFFFFF;
    border-radius: 5px;
}

nav {
    padding: 30px 160px;
    display: flex;
    justify-content: space-between;
    background-color: #232323;
    color: #FFFFFF;
}