body {
	margin: 0;
}

header {
    position: fixed;
    padding: 40px 165px;
    width: 100%;
    background-color: #111111;
}

.left {
    
}

.white {
    color: #FFFFFF;
}

.blue {
    color: #0FA2DB;
}